@import url('https://fonts.googleapis.com/css?family=Roboto');
.landing-top {
    width: 100%;
    animation: logo 2s cubic-bezier(0.46, 1.3, 0.51, 1);
}

@keyframes logo{
    from{
        transform: scale(0) rotate(-360deg);
        opacity: 0;
    }
}

@keyframes fadeIn{
    from{
        transform: translate(0, 20px);
        opacity: 0;
    }
}

* {
    font-family: Minnie;
}

.pgContentItem {
    animation: fadeIn 2s cubic-bezier(0.46, 1.3, 0.51, 1);
}

.button {
    background-image: url("../assets/buttons_submit.png");
    background-size: 100% 400%;
    padding: 25px 50px 30px;
    color: black;
    font-size: 24px;
    transition: transform .5s cubic-bezier(0.46, 1.8, 0.51, 1);
    margin: 1px 10px
}

.button:hover {
    background-position-y: 33.6%;
    transform:scale(1.1);
    color: black;
    text-decoration: none;
}

.button:active {
    background-position-y: 67.6%;
    color: black;
    text-decoration: none;
}

.playBtn {
    background-image: url("../assets/buttons_play.png");
    background-size: 100% 100%;
    padding: 25px 50px 30px;
    margin: 0px 55px 0px 0px;
    transform: scale(2.4) translate(-5px, 10px);
    transition: transform .5s cubic-bezier(0.46, 1.8, 0.51, 1);
}

.playBtn:hover {
    transform: scale(2.4) translate(-5px, 10px) rotate(10deg);
}

.navbar {
    position: fixed;
    right: 0;
    left: 0;
    float: left;
    width: 100%;
    z-index: 9999;
    transition: background-color .5s;
}

.navbaritem {
    
}

.navbar.scrolled {
    background-color: #1a5493;
}

.topBg {
    background-image: url("../assets/background_entering.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.sectionHeader {
    text-align: center;
    text-shadow: 3px 3px 1px rgba(10,10,10,0.25);
}

.whiteHeader {
    color: white;
    text-align: center;
    text-shadow: 3px 3px 1px rgba(10,10,10,0.25);
}

/*News*/
.newsBox {
    background-image: url("../assets/gags_pattern.png");
    width: 100%;
    max-width: 100%;
    margin: 0px;
    background-attachment: fixed;
    padding: 40px;
}

.newsHeader {
    text-align: center;
    font-size: x-large;
    text-shadow: 3px 3px 1px rgba(10,10,10,0.25);
}

.newsItem {
    box-shadow: 7px 7px 1px rgba(10,10,10,0.25);
    border-radius: 0px;
    border: none;
    margin: 5px;
    transition: transform .5s cubic-bezier(0.46, 1.8, 0.51, 1);
}

.newsItem:active{
    transform: scale(1.1);
}

.newsImage{
    border-radius: 10px;
}


.newsPostDate {
    font-family: Roboto;
    font-size: 14px;
}

.newsMoreButton:hover {
    box-shadow: 3px 3px 1px rgba(10,10,10,0.25);
}

.newsMoreButton:focus {
    box-shadow: none;
}

.card-header, .card-footer{
    background-color: rgba(0, 0, 0, 0)
}

/*Info*/
.infoBox{
    padding: 40px;
}

.infoVideo {
    border: solid white 15px;
    border-radius: 10px;
    box-shadow: 7px 7px 1px rgba(10,10,10,0.25);
}

.review{
    font-family: Roboto;
}

.reviewRight{
    text-align: right;
}

.reviewCitation{
    font-family: Roboto;
}

.rounded-circle {
    transition: all .3s cubic-bezier(0.46, 1.8, 0.51, 1);
    box-shadow: 0px 0px 4px 4px rgba(10,10,10,0.25);
}

.rounded-circle:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 6px 4px rgba(10,10,10,0.45);
}

.footer {
    padding: 40px;
}

.social-twitter {
    color: white;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(10,10,10,0.5);
    -webkit-text-stroke: 0px white;
    transition: all .55s cubic-bezier(0.46, 1.8, 0.51, 1);
}

.social-twitter:hover {
    color: dodgerblue;
    transform: scale(1.2);
    text-shadow: -3px -3px 0 white, 3px -3px 0 white, -3px 3px 0 white, 3px 3px 0 white;
}