:root {
    /*Defined variable for a commonly used color*/
    --wachusettGreen: #1B5E20;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    transition: all .5s;
    word-wrap: break-word;
    font-family: 'Roboto', sans-serif;
}

/*Animation for dropdown menu*/
@keyframes dropdown {
    from {
        transform: translate(0px, -10px);
        opacity: 0;
    }
}

div {
    transition: max-width 0s
}

p {
    font-size: 14px;
}

h1 {
    font-size: 30px;
}

/*Dropdown Menu*/
.dropdown-menu {
    animation: dropdown .2s ease-in-out;
    background-color: var(--wachusettGreen);
    border: solid;
    border-radius: 0px;
    border-color: white;
    padding: 0px;
}

.dropdown-item:hover {
    background-color: transparent !important;
}

.dropdown-item:active {
    background-color: white;
}

.navbar {
    padding: 0px 20px 0px 20px;
}


.navbarbutton {
    color: white;
    font-family: "Segoe UI";
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    transition: all .2s ease-out;
}

    .navbarbutton:hover {
        font-family: "Segoe UI";
        box-shadow: 0px -2px white inset;
        color: white;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
    }

.navbarbutton-cur {
    font-family: "Segoe UI";
    color: white;
    box-shadow: 0px -3px white inset;
    font-family: 'Roboto', sans-serif;
    animation: navbarCurSelect .5s ease-in-out;
}
/*The black bar under the selected page pop up*/
@keyframes navbarCurSelect {
    from {
        box-shadow: 0px 0px #000066 inset;
    }
}

.navbarbutton:active {
    font-family: "Segoe UI";
    color: black;
    box-shadow: 0px -50px white inset;
    font-family: 'Roboto', sans-serif;
}


.newsbanner {
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 6px 20px 0px #868e96;
}

.wachu-green {
    background-color: var(--wachusettGreen);
    color: white;
}

.wachu-green-header {
    background-color: #337337;
    padding: 1px;
    box-shadow: 0px 6px 20px 0px #868e96;
}

.upcoming-events {
    border: 4px solid var(--wachusettGreen);
    box-shadow: 0px 0px 20px 0px #868e96;
}

.upcoming-events-header {
    padding: 5px;
    text-align: center;
}

    .upcoming-events-header:hover {
        box-shadow: 0px 6px 20px 0px #868e96;
    }

.upcoming-events-row {
    padding: 6px;
}

.upcoming-events-separator {
    padding: 2px 0 2px 0;
    margin: auto;
    width: 100%;
    background-color: var(--wachusettGreen);
}

hr {
    width: 60%;
    background-color: rgba(27, 94, 32, 0.60);
}

.upcoming-events-name {
    margin: auto;
}

.link {
    color: #134917;
    font-weight: bold;
    text-decoration: underline;
}

.footerText {
    color: white;
    text-align: center
}


.staff-dir-2 {
    background-color: #134917;
    color: white;
}

footer {
    box-shadow: 0px 0px 20px 0px #868e96;
}


/*Loading thing*/
.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
    animation: none !important;
    margin: 5% auto;
    left: 0;
    right: 0;
    position: fixed;
    transform: scale(2);
}

.load1 {
    /*Loading Circle Green Part*/
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.load2 {
    /*Loading Circle White Part*/
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation-delay: -.5s;
}

/*The animation for it*/
@keyframes sk-stretchdelay {

    0% {
        transform: scale(0.4);
        -webkit-transform: scale(0.4);
        opacity: 0;
    }


    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

.dropdown-toggle {
    cursor: pointer;
}

.bg-light {
    background-color: var(--wachusettGreen) !important;
}

.header {
    text-align: center;
}

/*Bell Schedules*/
.schedule {
    border: solid;
    border-color: black;
    box-shadow: 0px 0px 20px 0px #868e96;
}

    .schedule td, .schedule th, .schedule tr {
        border: solid;
        border-color: black;
        font-size: small
    }

.scheduleDaily {
    background-color: #b1ea9d;
}

.schedule25 {
    background-color: pink;
}

li a {
    color: #134917;
    font-weight: bold;
}

.info-details {
    transition: all .5s;
}

    .info-details:hover {
        cursor: pointer
    }

@keyframes detailsdrop {
    from {
        opacity: 0;
        transform: translate(0px, 10px)
    }
}

.info-details-content {
    animation: dropdown .2s ease-in-out;
}

.navbar-toggler {
    border-radius: 50px !important;
    background: white !important;
    padding: 5px !important;
}
