:root {
    /*Defined variable for a commonly used color*/
    --wachusettGreen: #1B5E20;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    background-image: url(../assets/background.jpg);
    background-attachment: fixed;
    background-size: cover;
}

* {
    transition: all .5s;
    word-wrap: break-word;
    font-family: 'Roboto', sans-serif;
}

/*Animation for dropdown menu*/
@keyframes dropdown {
    from {
        transform: translate(0px, -10px);
        opacity: 0;
    }
}

div {
    transition: max-width 0s
}

p {
    font-size: 14px;
}

h1 {
    font-size: 30px;
}

/*Dropdown Menu*/
.dropdown-menu {
    animation: dropdown .2s ease-in-out;
    background-color: var(--wachusettGreen);
    border: solid;
    border-radius: 0px;
    border-color: white;
    padding: 0px;
}

.dropdown-item:hover {
    box-shadow: 0px 0px 0px 2px black inset !important;
    color: black !important;
    background-color: white !important;
}

.dropdown-item:active {
    color: black !important;
    box-shadow: 0px 0px 0px 3px black inset !important;
    background-color: white !important;
}

.dropdown-item{
padding: 10px !important;
margin: 0 !important;

}

.navbar {
    position: fixed;
    right: 0;
    left: 0;
    float: left;
    width: 100%;
    z-index: 9999;
    transition: background-color .5s;
}
.navbarbutton {
    color: white;
    font-family: "Segoe UI";
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    transition: all .2s ease-out;
    background-color: var(--wachusettGreen);
    margin: 10px;
}

    .navbarbutton:hover {
        font-family: "Segoe UI";
        box-shadow: 0px 0px 3px 0px black;
        color: white;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        background-color: var(--wachusettGreen);
    }

.navbarbutton-cur {
    font-family: "Segoe UI";
    color: black;
    box-shadow: 0px 0px 0px 3px black;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}


.navbarbutton:active {
    font-family: "Segoe UI";
    color: black;
    box-shadow: 0px 0px 2px 0px black;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}
    /*When you scroll down a little bit, the navbar becomes a bit smaller and has a background*/
    .navbar.scrolled {
        background-color: var(--wachusettGreen);
    }

        .navbar.scrolled .navbarbutton {
            margin: 0px;
        }

            .navbar.scrolled .navbarbutton:hover {
                box-shadow: 0px 0px 0px 2px black inset;
                color: black;
                background-color: white;
            }

            .navbar.scrolled .navbarbutton:active {
                color: black;
                box-shadow: 0px 0px 0px 3px black inset;
                background-color: white;
            }

        .navbar.scrolled .navbarbutton-cur {
            color: black;
            box-shadow: 0px 0px 0px 3px black inset;
            background-color: white;
        }


/*Navbar should look different on mobile*/
@media (max-width: 992px) {
    .navbar {
        background-color: var(--wachusettGreen);
    }

    .navbarbutton {
        color: white;
        font-family: "Segoe UI";
        padding: 5px 10px 5px 10px;
        font-family: 'Roboto', sans-serif;
        transition: all .2s ease-out;
        background-color: var(--wachusettGreen);
        margin: 0px;
    }

        .navbarbutton:hover {
            font-family: "Segoe UI";
            box-shadow: 0px 0px 0px 2px black inset;
            color: black;
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            background-color: white;
        }

    .navbarbutton-cur {
        font-family: "Segoe UI";
        color: black;
        box-shadow: 0px 0px 0px 3px black inset;
        background-color: white;
        font-family: 'Roboto', sans-serif;
    }


    .navbarbutton:active {
        font-family: "Segoe UI";
        color: black;
        box-shadow: 0px 0px 0px 3px black inset;
        background-color: white;
        font-family: 'Roboto', sans-serif;
    }
}

/*When you scroll down a little bit, the navbar becomes a bit smaller and has a background*/
.navbar.scrolled {
    background-color: var(--wachusettGreen);
}

    .navbar.scrolled .navbarbutton {
        margin: 0px;
    }

        .navbar.scrolled .navbarbutton:hover {
            box-shadow: 0px 0px 0px 2px black inset;
            color: black;
            background-color: white;
        }

        .navbar.scrolled .navbarbutton:active {
            color: black;
            box-shadow: 0px 0px 0px 3px black inset;
            background-color: white;
        }

    .navbar.scrolled .navbarbutton-cur {
        color: black;
        box-shadow: 0px 0px 0px 3px black inset;
        background-color: white;
    }

.newsbanner {
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    box-shadow: 7px 7px 1px rgba(10,10,10,0.25);
}

.wachu-green {
    background-color: var(--wachusettGreen);
    color: white;
}

.wachu-green-header {
    background-color: #337337;
    padding: 1px;
    box-shadow: 7px 7px 1px rgba(10,10,10,0.25);
}

.upcoming-events {
    border: 4px solid var(--wachusettGreen);
    box-shadow: 7px 7px 1px rgba(10,10,10,0.25);
    background-color: white;
}

.upcoming-events-header {
    padding: 5px;
    text-align: center;

}

    .upcoming-events-header:hover {
        box-shadow: 7px 7px 1px rgba(10,10,10,0.25);
    }

.upcoming-events-row {
    padding: 6px;
}

.upcoming-events-separator {
    padding: 2px 0 2px 0;
    margin: auto;
    width: 100%;
    background-color: var(--wachusettGreen);
}

hr {
    width: 60%;
    background-color: rgba(27, 94, 32, 0.60);
}

.upcoming-events-name {
    margin: auto;
}

.link {
    color: #134917;
    font-weight: bold;
    text-decoration: underline;
}

.footerText {
    color: white;
    text-align: center
}


.staff-dir-2 {
    background-color: #134917;
    color: white;
}

footer {
    box-shadow: 7px 7px 1px rgba(10,10,10,0.25);
}


/*Loading thing*/
.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
    animation: none !important;
    margin: 5% auto;
    left: 0;
    right: 0;
    position: fixed;
    transform: scale(2);
}

.load1 {
    /*Loading Circle Green Part*/
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.load2 {
    /*Loading Circle White Part*/
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation-delay: -.5s;
}

/*The animation for it*/
@keyframes sk-stretchdelay {

    0% {
        transform: scale(0.4);
        -webkit-transform: scale(0.4);
        opacity: 0;
    }


    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

.dropdown-toggle {
    cursor: pointer;
}

.bg-light {
    background-color: var(--wachusettGreen) !important;
}

.header {
    text-align: center;
}

/*Bell Schedules*/
.schedule {
    border: solid;
    border-color: black;
    box-shadow: 7px 7px 1px rgba(10,10,10,0.25);
}

    .schedule td, .schedule th, .schedule tr {
        border: solid;
        border-color: black;
        font-size: small
    }

.scheduleDaily {
    background-color: #b1ea9d;
}

.schedule25 {
    background-color: pink;
}

li a {
    color: #134917;
    font-weight: bold;
}

.info-details {
    transition: all .5s;
}

    .info-details:hover {
        cursor: pointer
    }

@keyframes detailsdrop {
    from {
        opacity: 0;
        transform: translate(0px, 10px)
    }
}

.info-details-content {
    animation: dropdown .2s ease-in-out;
}

.navbar-toggler {
    border-radius: 50px !important;
    background: white !important;
    padding: 5px !important;
}
.pgcontent {
    padding-top: 80px;
    margin: 0px 10px 0px 6px
}

.homeinfo {
    background-color: white;
    border: solid var(--wachusettGreen) 5px;
    padding: 10px;
    margin: 0px 4px 0px 4px;
    box-shadow: 7px 7px 1px rgba(10,10,10,0.25);
}

.clickable-image {
    background-color: white;
    border: solid var(--wachusettGreen) 5px;
    padding: 10px;
    margin: 4px;
    box-shadow: 7px 7px 1px rgba(10,10,10,0.25);
}